.page-container {
    padding: 0.05px 2.25em;
    max-width: 99.75em;
    min-width: 31.25em;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-column-gap: 5%;
    grid-template-areas:
'toc        content'
'toc        content'
'footer     footer';
}

.content-container {
    position: relative;
    margin: 0;
    padding: 0;
    grid-area: content;
}

.content {
    padding-left: 3.25em;
    padding-right: 3.25em;
}

.content-text {
    color: var(--text-primary);
}
