/* Styles for the global page footer */

#page-footer-container {
    display: grid;
    background-color: #242424;
    flex-shrink: 0;
    grid-area: footer;
}

#page-footer {
    width: 100%;
    min-height: 3.125rem;
    column-gap: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
}