/* Styles for the global page footer */

#page-footer-container {
    background-color: #242424;
    box-sizing: border-box;
    grid-area: footer;
}

#page-footer {
    width: 100%;
    min-height: 3.125rem;
    display: flex;
    column-gap: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
}