* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

@media (prefers-color-scheme: dark) {
    body {
        --background: rgb(27, 30, 31);
        --divider: rgb(255, 255, 255, 0.12);
        --highlight-heavy: DarkGoldenRod;
        --highlight-light: DarkGray;
        --text-primary: rgb(211, 207, 202);
        --text-secondary: rgb(176, 169, 159);
    }
}

@media not (prefers-color-scheme: dark) {
    body {
        --background: #fff;
        --divider: rgb(0, 0, 0, 0.12);
        --highlight-heavy: DarkOrange;
        --highlight-light: DimGray;
        --text-primary: rgb(0, 0, 0, 0.87);
        --text-secondary: rgb(0, 0, 0, 0.6);
    }
}

body {
    --text-anchor: rgb(96, 150, 205);

    margin: 0;
    background-color: var(--background);
    color: var(--text-primary);
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--text-anchor);
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

table, th, td {
    border: 1px solid var(--divider);
    border-collapse: collapse;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

pre {
    background-color: rgb(39, 41, 42);
    background-image: none;
    border-color: rgb(66, 70, 73);
    box-shadow: rgb(43, 45, 47) 0 0 1em;
    color: #fff;
    border-radius: .3em;
    padding: .25em;
    overflow: auto;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}
