<div class="page-header-container">
    <button id="page-header-toc-button" title="Show Table of Contents" onclick="toggle_toc()">
        <img src="/images/other/menu-boxed.svg" alt="Show TOC button" width="32" height="32" />
    </button>

    <header id="page-header">
        <div class="page-header-portion">
            <a href="{{ .Site.Home.Permalink }}" class="page-header-home">
                All Things Audio
            </a>

            <div id="page-header-search">
                <input id="page-header-search-input" tabindex="0" placeholder="Search...">
                <ul id="page-header-search-results">
                </ul>
            </div>
        </div>

        <div id="page-header-end" class="page-header-portion">
            <nav class="page-header-links">
                <a href="https://github.com/Serial-ATA/all-things-audio">
                    <img src="/images/other/github.svg" width="32" height="32" />
                </a>
            </nav>
        </div>
    </header>
</div>
